#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
watch_file flake.nix

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi

use flake . --impure

mkdir -p .venv
mkdir site

poetry config virtualenvs.in-project true
poetry env use python
poetry install
poetry run pre-commit install
