site_name: Crystal
site_url: https://crystal-lang.org/reference/latest/
repo_url: https://github.com/crystal-lang/crystal
edit_uri: https://github.com/crystal-lang/crystal-book/tree/master/docs/
use_directory_urls: false

extra:
  alternate:
    - name: English
      link: https://crystal-lang.org/reference/
      lang: en
    - name: 日本語
      link: https://ja.crystal-lang.org/reference/
      lang: ja
  version:
    provider: mike
  analytics:
    provider: google
    property: UA-42353458-1

theme:
  name: material
  language: en
  palette:
    primary: black
    accent: blue
  icon:
    repo: fontawesome/brands/github
  favicon: https://crystal-lang.org/favicon.ico
  logo: assets/crystal-circ.svg
  custom_dir: overrides
  features:
    - navigation.tabs

extra_css:
  - assets/vendor/codemirror/codemirror.min.css
  - assets/style.css
  - assets/vendor/carcin-play/carcin-play.css
  - assets/vendor/carcin-play/codemirror-theme.css

plugins:
  - search
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - redirects:
      redirect_maps:
        introduction.md: README.md
        syntax_and_semantics/literals.md: syntax_and_semantics/literals/README.md
        syntax_and_semantics/macros.md: syntax_and_semantics/macros/README.md
        syntax_and_semantics/annotations.md: syntax_and_semantics/annotations/README.md
        guides/continuous_integration.md: guides/ci/README.md
        conventions/documenting_code.md: syntax_and_semantics/documenting_code.md
        docs/overview/README.md: syntax_and_semantics/README.md
  - code-validator:
      enabled: !ENV [LINT, false]
      identifiers:
        crystal:
          validators:
            - crystal tool format --check -
        crystal-play:
          language: crystal
          validators:
            - crystal tool format --check -
            - crystal build --no-codegen $<
  - mkdocs-simple-hooks:
      hooks:
        on_page_markdown: 'hooks:on_page_markdown'

markdown_extensions:
  - admonition
  - md_in_html
  - pymdownx.highlight
  - pymdownx.magiclink
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.snippets

extra_javascript:
  - assets/vendor/codemirror/codemirror.min.js
  - assets/vendor/codemirror/mode/crystal/crystal.min.js
  - assets/vendor/carcin-play/carcin.js
  - assets/vendor/carcin-play/carcin-play.js
  - assets/vendor/ansi_up/ansi_up.min.js
  - assets/crystal-play.js
  - assets/script.js
